<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>パスワード認証</title>
  </head>
  <body>
    <p>■スタッフログイン</p>
    <form action="admin.php" method="post">
      <table border="1">
        <tr>
          <td><label for="id">ID</label></td>
          <td><input id="id" type="text" name="id" value=""></td>
        </tr>
        <tr>
          <td><label for="pass">PASS</label></td>
          <td><input id="pass" type="password" name="pass" value=""></td>
        </tr>
      </table>
      <button type="submit" name="button">認証</button>
      <input type="hidden" name="mode" value="staff">
    </form>
  </body>
</html>