<tr>
  <td class="form-left">!user_id!</td>
  <td class="form-left"><a href="admin.php?mode=user_all&id=!id!">!name!</a></td>
  <td class="form-left">!tel!</td>
  <td class="form-left">!email!</td>
</tr>