<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>発注完了</title>
  </head>
  <body>
    <p>ご注文ありがとうございました</p>
    <a href="admin.php">マイページへ戻る</a>
  </body>
</html>