<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>在庫一覧</title>
  </head>
  <body>
    <p>!id!のアカウントです</p>
    <ul>
      <li><a href="admin.php">マイページ</a></li>
      <li><a href="admin.php?mode=sale_all">売上一覧</a></li>
      <li><a href="admin.php?mode=user_all">ユーザー一覧</a></li>
      <li><a href="admin.php?mode=stock_all">在庫一覧</a></li>
      <li><a href="admin.php?mode=insert">データ入力</a></li>
      <li><a href="admin.php?mode=order">商品発注</a></li>
      <li><a href="admin.php?mode=logout">ログアウト</a></li>
    </ul>
    <br>
    <hr>
      <p>■在庫一覧</p>
      <table border="1">
        <tr>
          <th>商品名</th><th>在庫数</th>
        </tr>

        !stock_data!

      </table>
  </body>
</html>